version: '3.8'

# Sección que define los servicios (contenedores) a levantar
services:
  db-postgres:
    # 1. Imagen a utilizar: PostgreSQL 16 (una versión estable y reciente)
    image: postgres:17
    
    # 2. Reinicio: Asegura que el contenedor intente reiniciarse si falla
    restart: always

    # 3. Variables de Entorno: Configuración interna del servidor PostgreSQL
    environment:
      # Nombre de la base de datos a crear
      POSTGRES_DB: crm_soporte_db
      # Usuario para acceder a la base de datos
      POSTGRES_USER: crm_user
      # Contraseña para el usuario (¡Cambiar en producción!)
      POSTGRES_PASSWORD: crm_password
      

    # 4. Mapeo de Puertos: Expone el puerto interno (5432) al puerto externo (5432)
    #    Esto permite que tu máquina o herramientas externas se conecten.
    ports:
      - "5432:5432"

    # 5. Volúmenes: Persistencia de datos.
    #    Asegura que los datos de la base de datos se guarden en tu máquina local
    #    incluso si el contenedor se elimina, previniendo la pérdida de datos.
    volumes:
      # Almacena los datos reales de PostgreSQL
      - db-data:/var/lib/postgresql/data
      # Ejecuta scripts SQL: Mapea nuestra carpeta de scripts (en el host)
      # a la carpeta de inicialización de PostgreSQL (/docker-entrypoint-initdb.d).
      # Cualquier .sql o .sh en esta carpeta se ejecuta al iniciar el contenedor por primera vez.
      - ./backend/crmSoporteTecnico/crmSoporteTecnico/src/main/resources/db/migration:/docker-entrypoint-initdb.d
      
# Sección de Volúmenes: Define el volumen persistente (db-data)
volumes:
  # Volumen para los datos. Docker lo gestiona y lo mantiene separado del código.
  db-data: